absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
albumentations==1.3.1
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
boltons==23.0.0
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.7.22
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.2.0
charset-normalizer==3.2.0
clean-fid==0.1.35
click==8.1.7
cmake==3.27.2
colab-convert==2.0.5
comm==0.1.4
contourpy==1.1.0
cryptography @ file:///croot/cryptography_1689373676338/work
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
devtools==0.12.1
dnspython==2.4.2
einops==0.6.1
email-validator==2.0.0.post2
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.103.1
fastjsonschema==2.18.0
filelock==3.12.2
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
google-auth==2.22.0
google-auth-oauthlib==1.0.0
grpcio==1.57.0
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.1
ipykernel==6.25.1
ipython==8.14.0
ipywidgets==8.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2 @ file:///croot/jinja2_1666908132255/work
joblib==1.3.2
json5==0.9.14
jsonmerge==1.9.2
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-http-over-ws==0.0.8
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.2
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kiwisolver==1.4.4
kornia==0.7.0
lightning-utilities==0.9.0
lit==16.0.6
Markdown==3.4.4
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib==3.7.2
matplotlib-inline==0.1.6
mistune==3.0.1
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
more-itertools==10.1.0
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.0.4
natsort @ file:///tmp/build/80754af9/natsort_1611692802956/work
nbclient==0.8.0
nbconvert==7.7.4
nbformat==5.9.2
nest-asyncio==1.5.7
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1
notebook==7.0.2
notebook_shim==0.2.3
numexpr==2.8.5
numpngw==0.1.2
numpy @ file:///croot/numpy_and_numpy_base_1691091611330/work
oauthlib==3.2.2
omegaconf==2.3.0
open-clip-torch==2.20.0
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
orjson==3.9.7
overrides==7.4.0
packaging @ file:///croot/packaging_1678965309396/work
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.3.0
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
pyDeprecate==0.3.2
Pygments==2.16.1
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.0.9
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-lightning==1.7.7
pytorch-triton==2.1.0+e6216047b8
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.1
qudida==0.0.4
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
resize-right==0.0.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.9.2
rsa==4.9
safetensors==0.3.3
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.11.2
Send2Trash==1.8.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
stack-data==0.6.2
starlette==0.27.0
sympy @ file:///croot/sympy_1668202399572/work
tensorboard==2.14.0
tensorboard-data-server==0.7.1
terminado==0.17.1
threadpoolctl==3.2.0
tifffile==2023.8.12
timm==0.9.5
tinycss2==1.2.1
tokenizers==0.12.1
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchdiffeq==0.2.3
torchmetrics @ file:///croot/torchmetrics_1687444060357/work
torchsde==0.2.5
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
trampoline==0.1.2
transformers==4.19.2
triton==2.0.0
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
uri-template==1.3.0
urllib3==2.0.4
uvicorn==0.23.2
uvloop==0.17.0
validators==0.21.2
watchfiles==0.20.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.2
websockets==11.0.3
Werkzeug==2.3.7
widgetsnbextension==4.0.8
yarl==1.9.2
